body {
  margin: 0;
  font-family: Georgia, sans-serif;
  background-color: #aac3e2;
  color: #333;
}

header {
  background-color: #222;
  color: white;
  padding: 40px;
  text-align: center;
}

main {
  padding: 40px;
  max-width: 800px;
  margin: auto;
  background: white;
}

section {
  margin-bottom: 30px;
}

footer {
  text-align: center;
  padding: 20px;
  background: #eee;
}
